In [70]:
# Dependencies
import pandas as pd

In [71]:
# Store filepath in a variable
file_2015 = "Resources/2015.csv"
file_2016 = "Resources/2016.csv"
file_2017 = "Resources/2017.csv"
file_2018 = "Resources/2018.csv"
file_2019 = "Resources/2019.csv"

In [72]:
# Read Data files with the pandas library
happiness_2015_df = pd.read_csv(file_2015, encoding="UTF-8")
happiness_2016_df = pd.read_csv(file_2016, encoding="UTF-8")
happiness_2017_df = pd.read_csv(file_2017, encoding="UTF-8")
happiness_2018_df = pd.read_csv(file_2018, encoding="UTF-8")
happiness_2019_df = pd.read_csv(file_2019, encoding="UTF-8")

In [73]:
# Drop columns missing from other years
happiness_2015_df.drop(columns = ["Region", "Standard Error", "Dystopia Residual"], inplace = True)

In [74]:
# Rename Columns to match the datasets for previous years and add suffix for year
happiness_2015_df.rename(columns = {"Happiness Rank" : "Happiness Rank_2015",
                              "Happiness Score" : "Happiness Score_2015",
                              "Economy (GDP per Capita)" : "Economy (GDP per Capita)_2015",
                              "Family" : "Family_2015",
                              "Health (Life Expectancy)" : "Health (Life Expectancy)_2015",
                              "Freedom" : "Freedom_2015",
                              "Trust (Government Corruption)" : "Trust (Government Corruption)_2015",
                              "Generosity" : "Generosity_2015"}, inplace = True)
happiness_2015_df.head()

,Country,Happiness Rank_2015,Happiness Score_2015,Economy (GDP per Capita)_2015,Family_2015,Health (Life Expectancy)_2015,Freedom_2015,Trust (Government Corruption)_2015,Generosity_2015
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811

In [75]:
# Drop columns missing from other years
happiness_2016_df.drop(columns = ["Region", 'Lower Confidence Interval', 'Upper Confidence Interval', "Dystopia Residual"], inplace = True)

In [76]:
# Rename Columns to match the datasets for previous years and add suffix for year
happiness_2016_df.rename(columns = {"Happiness Rank" : "Happiness Rank_2016",
                              "Happiness Score" : "Happiness Score_2016",
                              "Economy (GDP per Capita)" : "Economy (GDP per Capita)_2016",
                              "Family" : "Family_2016",
                              "Health (Life Expectancy)" : "Health (Life Expectancy)_2016",
                              "Freedom" : "Freedom_2016",
                              "Trust (Government Corruption)" : "Trust (Government Corruption)_2016",
                              "Generosity" : "Generosity_2016"}, inplace = True)
happiness_2016_df.head()

,Country,Happiness Rank_2016,Happiness Score_2016,Economy (GDP per Capita)_2016,Family_2016,Health (Life Expectancy)_2016,Freedom_2016,Trust (Government Corruption)_2016,Generosity_2016
0,Denmark,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171
1,Switzerland,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083
2,Iceland,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678
3,Norway,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895
4,Finland,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492

In [77]:
# Drop columns missing from other years
happiness_2017_df.drop(columns = ["Whisker.low", "Whisker.high", "Dystopia.Residual"], inplace = True)

In [78]:
# Rename Columns to match the datasets for previous years and add suffix for year
happiness_2017_df.rename(columns = {"Happiness.Rank" : "Happiness Rank_2017",
                              "Happiness.Score" : "Happiness Score_2017",
                              "Economy..GDP.per.Capita." : "Economy (GDP per Capita)_2017",
                              "Family" : "Family_2017",
                              "Health..Life.Expectancy." : "Health (Life Expectancy)_2017",
                              "Freedom" : "Freedom_2017",
                              "Trust..Government.Corruption." : "Trust (Government Corruption)_2017",
                              "Generosity" : "Generosity_2017"}, inplace = True)
happiness_2017_df.head()

,Country,Happiness Rank_2017,Happiness Score_2017,Economy (GDP per Capita)_2017,Family_2017,Health (Life Expectancy)_2017,Freedom_2017,Generosity_2017,Trust (Government Corruption)_2017
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612

In [79]:
# Rename Columns to match the datasets for previous years and add suffix for year
happiness_2018_df.rename(columns = {"Overall rank" : "Happiness Rank_2018",
                                    "Country or region": "Country",
                              "Score" : "Happiness Score_2018",
                              "GDP per capita" : "Economy (GDP per Capita)_2018",
                              "Social support" : "Family_2018",
                              "Healthy life expectancy" : "Health (Life Expectancy)_2018",
                              "Freedom to make life choices" : "Freedom_2018",
                              "Perceptions of corruption" : "Trust (Government Corruption)_2018",
                              "Generosity" : "Generosity_2018"}, inplace = True)
happiness_2018_df.head()

,Happiness Rank_2018,Country,Happiness Score_2018,Economy (GDP per Capita)_2018,Family_2018,Health (Life Expectancy)_2018,Freedom_2018,Generosity_2018,Trust (Government Corruption)_2018
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [80]:
# Rename Columns to match the datasets for previous years
happiness_2019_df.rename(columns = {"Overall rank" : "Happiness Rank_2019",
                              "Score" : "Happiness Score_2019",
                              "GDP per capita" : "Economy (GDP per Capita)_2019",
                              "Social support" : "Family_2019",
                              "Healthy life expectancy" : "Health (Life Expectancy)_2019", 
                              "Freedom to make life choices" : "Freedom_2019",
                              "Perceptions of corruption" : "Trust (Government Corruption)_2019",
                              "Country or region" : "Country",
                                   "Generosity" : "Generosity_2019"}, inplace = True)
happiness_2019_df.head()

,Happiness Rank_2019,Country,Happiness Score_2019,Economy (GDP per Capita)_2019,Family_2019,Health (Life Expectancy)_2019,Freedom_2019,Generosity_2019,Trust (Government Corruption)_2019
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [81]:
# Merge DataFrame from 2015 and 2016
happiness_15_16_df = happiness_2015_df.merge(happiness_2016_df, how = "left", on = "Country")
happiness_15_16_df.head()

,Country,Happiness Rank_2015,Happiness Score_2015,Economy (GDP per Capita)_2015,Family_2015,Health (Life Expectancy)_2015,Freedom_2015,Trust (Government Corruption)_2015,Generosity_2015,Happiness Rank_2016,Happiness Score_2016,Economy (GDP per Capita)_2016,Family_2016,Health (Life Expectancy)_2016,Freedom_2016,Trust (Government Corruption)_2016,Generosity_2016
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.0,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,3.0,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,1.0,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,4.0,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,6.0,7.404,1.44015,1.09610,0.82760,0.57370,0.31329,0.44834

In [82]:
# Merge DataFrame to 2017
happiness_15_17_df = happiness_15_16_df.merge(happiness_2017_df, how = "left", on = "Country")
happiness_15_17_df.head()

,Country,Happiness Rank_2015,Happiness Score_2015,Economy (GDP per Capita)_2015,Family_2015,Health (Life Expectancy)_2015,Freedom_2015,Trust (Government Corruption)_2015,Generosity_2015,Happiness Rank_2016,...,Trust (Government Corruption)_2016,Generosity_2016,Happiness Rank_2017,Happiness Score_2017,Economy (GDP per Capita)_2017,Family_2017,Health (Life Expectancy)_2017,Freedom_2017,Generosity_2017,Trust (Government Corruption)_2017
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.0,...,0.41203,0.28083,4.0,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,3.0,...,0.14975,0.47678,3.0,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,1.0,...,0.44453,0.36171,2.0,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,4.0,...,0.35776,0.37895,1.0,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,6.0,...,0.31329,0.44834,7.0,7.316,1.479204,1.481349,0.834558,0.611101,0.435540,0.287372

In [83]:
# Merge DataFrame to 2018
happiness_15_18_df = happiness_15_17_df.merge(happiness_2018_df, how = "left", on = "Country")
happiness_15_18_df.head()

,Country,Happiness Rank_2015,Happiness Score_2015,Economy (GDP per Capita)_2015,Family_2015,Health (Life Expectancy)_2015,Freedom_2015,Trust (Government Corruption)_2015,Generosity_2015,Happiness Rank_2016,...,Generosity_2017,Trust (Government Corruption)_2017,Happiness Rank_2018,Happiness Score_2018,Economy (GDP per Capita)_2018,Family_2018,Health (Life Expectancy)_2018,Freedom_2018,Generosity_2018,Trust (Government Corruption)_2018
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.0,...,0.290549,0.367007,5.0,7.487,1.420,1.549,0.927,0.660,0.256,0.357
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,3.0,...,0.475540,0.153527,4.0,7.495,1.343,1.644,0.914,0.677,0.353,0.138
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,1.0,...,0.355280,0.400770,3.0,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,4.0,...,0.362012,0.315964,2.0,7.594,1.456,1.582,0.861,0.686,0.286,0.340
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,6.0,...,0.435540,0.287372,7.0,7.328,1.330,1.532,0.896,0.653,0.321,0.291

In [84]:
# Merge DataFrame to 2019
happiness_15_19_df = happiness_15_18_df.merge(happiness_2019_df, how = "left", on = "Country")
happiness_15_19_df.to_csv("Resources/merged_happiness_data.csv")
happiness_15_19_df.head()

,Country,Happiness Rank_2015,Happiness Score_2015,Economy (GDP per Capita)_2015,Family_2015,Health (Life Expectancy)_2015,Freedom_2015,Trust (Government Corruption)_2015,Generosity_2015,Happiness Rank_2016,...,Generosity_2018,Trust (Government Corruption)_2018,Happiness Rank_2019,Happiness Score_2019,Economy (GDP per Capita)_2019,Family_2019,Health (Life Expectancy)_2019,Freedom_2019,Generosity_2019,Trust (Government Corruption)_2019
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.0,...,0.256,0.357,6.0,7.480,1.452,1.526,1.052,0.572,0.263,0.343
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,3.0,...,0.353,0.138,4.0,7.494,1.380,1.624,1.026,0.591,0.354,0.118
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,1.0,...,0.284,0.408,2.0,7.600,1.383,1.573,0.996,0.592,0.252,0.410
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,4.0,...,0.286,0.340,3.0,7.554,1.488,1.582,1.028,0.603,0.271,0.341
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,6.0,...,0.321,0.291,9.0,7.278,1.365,1.505,1.039,0.584,0.285,0.308

In [85]:
# Create DataFrame with Happiness score per date
avg_happiness_df = happiness_15_19_df[["Country", "Happiness Score_2015", "Happiness Score_2016", "Happiness Score_2017",
                                      "Happiness Score_2018", "Happiness Score_2019"]]
avg_happiness_df

,Country,Happiness Score_2015,Happiness Score_2016,Happiness Score_2017,Happiness Score_2018,Happiness Score_2019
0,Switzerland,7.587,7.509,7.494,7.487,7.480
1,Iceland,7.561,7.501,7.504,7.495,7.494
2,Denmark,7.527,7.526,7.522,7.555,7.600
3,Norway,7.522,7.498,7.537,7.594,7.554
4,Canada,7.427,7.404,7.316,7.328,7.278
...,...,...,...,...,...,...
153,Rwanda,3.465,3.515,3.471,3.408,3.334
154,Benin,3.340,3.484,3.657,4.141,4.883
155,Syria,3.006,3.069,3.462,3.462,3.462
156,Burundi,2.905,2.905,2.905,2.905,3.775
157,Togo,2.839,3.303,3.495,3.999,4.085

In [86]:
# Drop rows with 'NaN'
avg_happiness_df = avg_happiness_df.dropna()

In [87]:
# Calculate Avg. Happiness and create a new column
avg_happiness_df['Avg Happiness'] = (avg_happiness_df["Happiness Score_2015"] + 
                           avg_happiness_df["Happiness Score_2016"]+ 
                           avg_happiness_df["Happiness Score_2017"]+ 
                           avg_happiness_df["Happiness Score_2018"]+ 
                           avg_happiness_df["Happiness Score_2019"])/5

avg_happiness_df.to_csv("Resources/avg_happiness.csv")

avg_happiness_df

C:\Users\bisma\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Country,Happiness Score_2015,Happiness Score_2016,Happiness Score_2017,Happiness Score_2018,Happiness Score_2019,Avg Happiness
0,Switzerland,7.587,7.509,7.494,7.487,7.480,7.5114
1,Iceland,7.561,7.501,7.504,7.495,7.494,7.5110
2,Denmark,7.527,7.526,7.522,7.555,7.600,7.5460
3,Norway,7.522,7.498,7.537,7.594,7.554,7.5410
4,Canada,7.427,7.404,7.316,7.328,7.278,7.3506
...,...,...,...,...,...,...,...
153,Rwanda,3.465,3.515,3.471,3.408,3.334,3.4386
154,Benin,3.340,3.484,3.657,4.141,4.883,3.9010
155,Syria,3.006,3.069,3.462,3.462,3.462,3.2922
156,Burundi,2.905,2.905,2.905,2.905,3.775,3.0790
157,Togo,2.839,3.303,3.495,3.999,4.085,3.5442