In [9]:
import pandas as pd
import csv

In [10]:
# Save file path to variable
healthspend_csv = "healthspend.csv"
happymerge_csv = "avg_happiness.csv"
populations_csv = "population_df.csv"

# Read Healthcare CSV
# Read Happiness CSV

In [11]:
# # Read with Pandas
healthspend__df = pd.read_csv(healthspend_csv)
healthspend__df.head(15)
# Get a list of all of our columns for easy reference

,Countries,Indicators,avg (2014-2018)
0,Algeria,Capital health expenditure,18
1,Benin,Capital health expenditure,44
2,Botswana,Capital health expenditure,14
3,Burkina Faso,Capital health expenditure,41
4,Burundi,Capital health expenditure,5
5,Cabo Verde Republic of,Capital health expenditure,8
6,Cameroon,Capital health expenditure,156
7,Central African Republic,Capital health expenditure,1
8,Congo,Capital health expenditure,113
9,Côte d'Ivoire,Capital health expenditure,182
10,Democratic Republic of the Congo,Capital health expenditure,45
11,Equatorial Guinea,Capital health expenditure,83
12,Eswatini,Capital health expenditure,25
13,Ethiopia,Capital health expenditure,260
14,Gabon,Capital health expenditure,63

In [13]:
# # Read with Pandas
happymerge_csv_df = pd.read_csv(happymerge_csv)
happymerge_csv_df.head(15)
# Get a list of all of our columns for easy reference

,Unnamed: 0,Country,Happiness Score_2015,Happiness Score_2016,Happiness Score_2017,Happiness Score_2018,Happiness Score_2019,Avg Happiness
0,0,Switzerland,7.587,7.509,7.494,7.487,7.480,7.5114
1,1,Iceland,7.561,7.501,7.504,7.495,7.494,7.5110
2,2,Denmark,7.527,7.526,7.522,7.555,7.600,7.5460
3,3,Norway,7.522,7.498,7.537,7.594,7.554,7.5410
4,4,Canada,7.427,7.404,7.316,7.328,7.278,7.3506
5,5,Finland,7.406,7.413,7.469,7.632,7.769,7.5378
6,6,Netherlands,7.378,7.339,7.377,7.441,7.488,7.4046
7,7,Sweden,7.364,7.291,7.284,7.314,7.343,7.3192
8,8,New Zealand,7.286,7.334,7.314,7.324,7.307,7.3130
9,9,Australia,7.284,7.313,7.284,7.272,7.228,7.2762
10,10,Israel,7.278,7.267,7.213,6.814,7.139,7.1422
11,11,Costa Rica,7.226,7.087,7.079,7.072,7.167,7.1262
12,12,Austria,7.200,7.119,7.006,7.139,7.246,7.1420
13,13,Mexico,7.187,6.778,6.578,6.488,6.595,6.7252
14,14,United States,7.119,7.104,6.993,6.886,6.892,6.9988

In [14]:
# # Read with Pandas
populations_csv_df = pd.read_csv(populations_csv)
populations_csv_df.head(15)
# Get a list of all of our columns for easy reference

,Countries,Indicators,avg (2014-2018)
0,Algeria,Population (in thousands),40564
1,Angola,Population (in thousands),28859
2,Benin,Population (in thousands),10879
3,Botswana,Population (in thousands),2166
4,Burkina Faso,Population (in thousands),18658
5,Burundi,Population (in thousands),10499
6,Cabo Verde Republic of,Population (in thousands),531
7,Cameroon,Population (in thousands),23938
8,Central African Republic,Population (in thousands),4551
9,Chad,Population (in thousands),14566
10,Comoros,Population (in thousands),796
11,Congo,Population (in thousands),4986
12,Côte d'Ivoire,Population (in thousands),23841
13,Democratic Republic of the Congo,Population (in thousands),78854
14,Equatorial Guinea,Population (in thousands),1215

In [15]:
#merge health and pop 
health_data_complete = pd.merge(populations_csv_df, healthspend__df, how="left", on=["Countries"])

In [16]:
health_data_complete

,Countries,Indicators_x,avg (2014-2018)_x,Indicators_y,avg (2014-2018)_y
0,Algeria,Population (in thousands),40564,Capital health expenditure,18.0
1,Angola,Population (in thousands),28859,NaN,NaN
2,Benin,Population (in thousands),10879,Capital health expenditure,44.0
3,Botswana,Population (in thousands),2166,Capital health expenditure,14.0
4,Burkina Faso,Population (in thousands),18658,Capital health expenditure,41.0
...,...,...,...,...,...
185,Solomon Islands,Population (in thousands),620,Capital health expenditure,2.0
186,Tonga,Population (in thousands),102,Capital health expenditure,0.0
187,Tuvalu,Population (in thousands),11,Capital health expenditure,1.0
188,Vanuatu,Population (in thousands),278,Capital health expenditure,0.0
189,Viet Nam,Population (in thousands),93636,Capital health expenditure,820.0