In [128]:
import pandas as pd
import csv

In [129]:
# Save file path to variable
healthcare_csv = "Healthcaredata.csv"

# Read Healthcare CSV
# Read Happiness CSV

In [130]:
# # Read with Pandas
healthcare_df = pd.read_csv(healthcare_csv)
healthcare_df.head(15)
# Get a list of all of our columns for easy reference

,Countries,Indicators,Unnamed: 2,2014,2015,2016,2017,2018
0,NaN,NaN,NaN,Value,Value,Value,Value,Value
1,Algeria,Capital health expenditure,in million current US$,NaN,18,NaN,NaN,NaN
2,Algeria,Population (in thousands),NaN,"38,924","39,728","40,551","41,389","42,228"
3,Angola,Population (in thousands),NaN,"26,942","27,884","28,842","29,817","30,810"
4,Benin,Capital health expenditure,in million current US$,67,21,NaN,NaN,NaN
5,Benin,Population (in thousands),NaN,"10,287","10,576","10,872","11,175","11,485"
6,Botswana,Capital health expenditure,in million current US$,2,3,28,22,NaN
7,Botswana,Population (in thousands),NaN,"2,089","2,121","2,160","2,205","2,254"
8,Burkina Faso,Capital health expenditure,in million current US$,52,24,20,52,56
9,Burkina Faso,Population (in thousands),NaN,"17,586","18,111","18,646","19,193","19,751"
10,Burundi,Capital health expenditure,in million current US$,3,3,9,NaN,NaN
11,Burundi,Population (in thousands),NaN,"9,844","10,160","10,488","10,827","11,175"
12,Cabo Verde Republic of,Capital health expenditure,in million current US$,4,13,6,NaN,NaN
13,Cabo Verde Republic of,Population (in thousands),NaN,518,525,531,537,544
14,Cameroon,Capital health expenditure,in million current US$,120,176,NaN,164,164

In [131]:
#pull out healthspend info
healthspend_df = healthcare_df[healthcare_df["Indicators"] == "Capital health expenditure"]
healthspend_df

,Countries,Indicators,Unnamed: 2,2014,2015,2016,2017,2018
1,Algeria,Capital health expenditure,in million current US$,NaN,18,NaN,NaN,NaN
4,Benin,Capital health expenditure,in million current US$,67,21,NaN,NaN,NaN
6,Botswana,Capital health expenditure,in million current US$,2,3,28,22,NaN
8,Burkina Faso,Capital health expenditure,in million current US$,52,24,20,52,56
10,Burundi,Capital health expenditure,in million current US$,3,3,9,NaN,NaN
...,...,...,...,...,...,...,...,...
337,Solomon Islands,Capital health expenditure,in million current US$,3,3,2,2,3
339,Tonga,Capital health expenditure,in million current US$,0,0,0,0,1
341,Tuvalu,Capital health expenditure,in million current US$,1,NaN,1,NaN,0
343,Vanuatu,Capital health expenditure,in million current US$,0,NaN,0,0,0
345,Viet Nam,Capital health expenditure,in million current US$,893,915,573,899,NaN

In [132]:
#rename Unnamed 2 column
healthspend_df = healthspend_df.rename(columns={"Unnamed: 2":"units"})
healthspend_df.head()

,Countries,Indicators,units,2014,2015,2016,2017,2018
1,Algeria,Capital health expenditure,in million current US$,NaN,18,NaN,NaN,NaN
4,Benin,Capital health expenditure,in million current US$,67,21,NaN,NaN,NaN
6,Botswana,Capital health expenditure,in million current US$,2,3,28,22,NaN
8,Burkina Faso,Capital health expenditure,in million current US$,52,24,20,52,56
10,Burundi,Capital health expenditure,in million current US$,3,3,9,NaN,NaN

In [158]:
healthspend_df[['2014', '2015', '2016', '2017', '2018']] = healthspend_df[['2014', '2015', '2016', '2017', 
                                                                             '2018']].astype(int)

ValueError: invalid literal for int() with base 10: '9,161'

In [133]:
#healthspend_df.dtypes
#convert to int 
#healthspend_df['2014']=healthspend_df['2014'].astype(str)

In [138]:
#healthspend_df.convert_dtypes()
healthspend_df.reset_index(drop=True, inplace=True)
healthspend_df = healthspend_df.fillna(value = 0)

In [156]:
healthspend_df['2014'].str.replace(',', '')
healthspend_df['2015'].str.replace(',', '')
healthspend_df['2016'].str.replace(',', '')
healthspend_df['2017'].str.replace(',', '')
healthspend_df['2018'].str.replace(',', '')

0      NaN
1      NaN
2      NaN
3       56
4      NaN
      ...
151      3
152      1
153      0
154      0
155    NaN
Name: 2018, Length: 156, dtype: object

In [157]:
pd.to_numeric(healthspend_df['2014'])

ValueError: Unable to parse string "9,161" at position 47

In [152]:
import numpy as np
totals = []
num_columns = []
for row, index in healthspend_df[['2014', '2015', '2016', '2017', '2018']].iterrows():
    total = 0
    num_column = 0
    for i in index:
        yearly_spend = i
        yearly_spend
        total = total + yearly_spend
       # totals.append(total)
       # if i > 0:
         #   num_column=+ 1
       # num_columns.append(num_column)
#print(totals)
#print(num_columns)

AttributeError: 'int' object has no attribute 'astype'

In [112]:
healthspend_df['avg'] = healthspend_df.iloc[:,3:].mean(skipna=True, axis=1)
healthspend_df

,Countries,Indicators,units,2014,2015,2016,2017,2018,avg
0,Algeria,Capital health expenditure,in million current US$,NaN,18,NaN,NaN,NaN,NaN
1,Benin,Capital health expenditure,in million current US$,67,21,NaN,NaN,NaN,NaN
2,Botswana,Capital health expenditure,in million current US$,2,3,28,22,NaN,NaN
3,Burkina Faso,Capital health expenditure,in million current US$,52,24,20,52,56,NaN
4,Burundi,Capital health expenditure,in million current US$,3,3,9,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
151,Solomon Islands,Capital health expenditure,in million current US$,3,3,2,2,3,NaN
152,Tonga,Capital health expenditure,in million current US$,0,0,0,0,1,NaN
153,Tuvalu,Capital health expenditure,in million current US$,1,NaN,1,NaN,0,NaN
154,Vanuatu,Capital health expenditure,in million current US$,0,NaN,0,0,0,NaN
155,Viet Nam,Capital health expenditure,in million current US$,893,915,573,899,NaN,NaN

In [25]:
#pull out population info
population_df = healthcare_df[healthcare_df["Indicators"] == "Population (in thousands)"]
population_df

,Countries,Indicators,Unnamed: 2,2014,2015,2016,2017,2018
2,Algeria,Population (in thousands),NaN,"38,924","39,728","40,551","41,389","42,228"
3,Angola,Population (in thousands),NaN,"26,942","27,884","28,842","29,817","30,810"
5,Benin,Population (in thousands),NaN,"10,287","10,576","10,872","11,175","11,485"
7,Botswana,Population (in thousands),NaN,"2,089","2,121","2,160","2,205","2,254"
9,Burkina Faso,Population (in thousands),NaN,"17,586","18,111","18,646","19,193","19,751"
...,...,...,...,...,...,...,...,...
338,Solomon Islands,Population (in thousands),NaN,587,603,619,636,653
340,Tonga,Population (in thousands),NaN,101,101,101,102,103
342,Tuvalu,Population (in thousands),NaN,11,11,11,11,12
344,Vanuatu,Population (in thousands),NaN,264,271,278,286,293
346,Viet Nam,Population (in thousands),NaN,"91,714","92,677","93,640","94,601","95,546"

In [ ]:
# df = df.drop('column_name', 1)

In [ ]:
# Group by the country