In [184]:
import pandas as pd
import csv

In [185]:
# Save file path to variable
healthcare_csv = "healthpop.csv"

# Read Healthcare CSV
# Read Happiness CSV

In [186]:
# # Read with Pandas
healthcare_df = pd.read_csv(healthcare_csv)
healthcare_df.head(15)
# Get a list of all of our columns for easy reference

,Countries,Indicators,2014,2015,2016,2017,2018,avg (2014-2018)
0,Algeria,Capital health expenditure,NaN,18.0,NaN,NaN,NaN,18
1,Algeria,Population (in thousands),38924.0,39728.0,40551.0,41389.0,42228.0,40564
2,Angola,Population (in thousands),26942.0,27884.0,28842.0,29817.0,30810.0,28859
3,Benin,Capital health expenditure,67.0,21.0,NaN,NaN,NaN,44
4,Benin,Population (in thousands),10287.0,10576.0,10872.0,11175.0,11485.0,10879
5,Botswana,Capital health expenditure,2.0,3.0,28.0,22.0,NaN,14
6,Botswana,Population (in thousands),2089.0,2121.0,2160.0,2205.0,2254.0,2166
7,Burkina Faso,Capital health expenditure,52.0,24.0,20.0,52.0,56.0,41
8,Burkina Faso,Population (in thousands),17586.0,18111.0,18646.0,19193.0,19751.0,18658
9,Burundi,Capital health expenditure,3.0,3.0,9.0,NaN,NaN,5
10,Burundi,Population (in thousands),9844.0,10160.0,10488.0,10827.0,11175.0,10499
11,Cabo Verde Republic of,Capital health expenditure,4.0,13.0,6.0,NaN,NaN,8
12,Cabo Verde Republic of,Population (in thousands),518.0,525.0,531.0,537.0,544.0,531
13,Cameroon,Capital health expenditure,120.0,176.0,NaN,164.0,164.0,156
14,Cameroon,Population (in thousands),22682.0,23298.0,23927.0,24566.0,25216.0,23938

In [187]:
#drop year data, just need avg
healthcare_df = healthcare_df.drop('2014', 1)

In [188]:
#drop year data, just need avg
healthcare_df = healthcare_df.drop('2015', 1)

In [189]:
#drop year data, just need avg
healthcare_df = healthcare_df.drop('2016', 1)

In [190]:
#drop year data, just need avg
healthcare_df = healthcare_df.drop('2017', 1)

In [191]:
healthcare_df = healthcare_df.drop('2018', 1)

In [192]:
#pull out healthspend info
healthspend_df = healthcare_df[healthcare_df["Indicators"] == "Capital health expenditure"]
healthspend_df

           Countries                  Indicators  avg (2014-2018)
0            Algeria  Capital health expenditure               18
3              Benin  Capital health expenditure               44
5           Botswana  Capital health expenditure               14
7       Burkina Faso  Capital health expenditure               41
9            Burundi  Capital health expenditure                5
..               ...                         ...              ...
336  Solomon Islands  Capital health expenditure                2
338            Tonga  Capital health expenditure                0
340           Tuvalu  Capital health expenditure                1
342          Vanuatu  Capital health expenditure                0
344         Viet Nam  Capital health expenditure              820

[156 rows x 3 columns]

In [194]:
#save to csv
healthspend_df.to_csv("healthspend.csv", encoding="utf-8", index=False)

In [138]:
# #healthspend_df.convert_dtypes()
# healthspend_df.reset_index(drop=True, inplace=True)
# healthspend_df = healthspend_df.fillna(value = 0)

In [167]:
# pd.to_numeric(healthspend_df['2014'])

In [168]:
# import numpy as np
# totals = []
# num_columns = []
# for row, index in healthspend_df[['2014', '2015', '2016', '2017', '2018']].iterrows():
#     total = 0
#     num_column = 0
#     for i in index:
#         yearly_spend = i
#         yearly_spend
#         total = total + yearly_spend
#        # totals.append(total)
#        # if i > 0:
#          #   num_column=+ 1
#        # num_columns.append(num_column)
# #print(totals)
# #print(num_columns)

In [193]:
#pull out population info
population_df = healthcare_df[healthcare_df["Indicators"] == "Population (in thousands)"]
population_df

           Countries                 Indicators  avg (2014-2018)
1            Algeria  Population (in thousands)            40564
2             Angola  Population (in thousands)            28859
4              Benin  Population (in thousands)            10879
6           Botswana  Population (in thousands)             2166
8       Burkina Faso  Population (in thousands)            18658
..               ...                        ...              ...
337  Solomon Islands  Population (in thousands)              620
339            Tonga  Population (in thousands)              102
341           Tuvalu  Population (in thousands)               11
343          Vanuatu  Population (in thousands)              278
345         Viet Nam  Population (in thousands)            93636

[190 rows x 3 columns]

In [195]:
#save to csv
population_df.to_csv("population_df.csv", encoding="utf-8", index=False)

In [ ]:
# Group by the country