In [36]:
import pandas as pd
import csv

In [37]:
# Save file path to variable
healthcare_csv = "Healthcaredata.csv"

# Read Healthcare CSV
# Read Happiness CSV

In [40]:
# # Read with Pandas
healthcare_df = pd.read_csv(healthcare_csv)
healthcare_df.head(15)
# Get a list of all of our columns for easy reference

,Countries,Indicators,Unnamed: 2,2014,2015,2016,2017,2018
0,NaN,NaN,NaN,Value,Value,Value,Value,Value
1,Algeria,Capital health expenditure,in million current US$,NaN,18,NaN,NaN,NaN
2,Algeria,Population (in thousands),NaN,"38,924","39,728","40,551","41,389","42,228"
3,Angola,Population (in thousands),NaN,"26,942","27,884","28,842","29,817","30,810"
4,Benin,Capital health expenditure,in million current US$,67,21,NaN,NaN,NaN
5,Benin,Population (in thousands),NaN,"10,287","10,576","10,872","11,175","11,485"
6,Botswana,Capital health expenditure,in million current US$,2,3,28,22,NaN
7,Botswana,Population (in thousands),NaN,"2,089","2,121","2,160","2,205","2,254"
8,Burkina Faso,Capital health expenditure,in million current US$,52,24,20,52,56
9,Burkina Faso,Population (in thousands),NaN,"17,586","18,111","18,646","19,193","19,751"
10,Burundi,Capital health expenditure,in million current US$,3,3,9,NaN,NaN
11,Burundi,Population (in thousands),NaN,"9,844","10,160","10,488","10,827","11,175"
12,Cabo Verde Republic of,Capital health expenditure,in million current US$,4,13,6,NaN,NaN
13,Cabo Verde Republic of,Population (in thousands),NaN,518,525,531,537,544
14,Cameroon,Capital health expenditure,in million current US$,120,176,NaN,164,164

In [ ]:
# Group by the country